@{
    ViewData["Title"] = "Không có quyền truy cập";
}

<div class="container mt-5 text-center">
    <h3 class="text-danger">Bạn không có quyền truy cập trang này!</h3>
    <a class="btn btn-secondary mt-3" asp-controller="Home" asp-action="Index">Quay lại Trang chủ</a>
</div>
