@model Student_management.Models.Namhoc

<h2>Thêm Năm học</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="TenNamHoc" class="control-label"></label>
        <input asp-for="TenNamHoc" class="form-control" />
        <span asp-validation-for="TenNamHoc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NgayBatDau" class="control-label"></label>
        <input asp-for="NgayBatDau" type="date" class="form-control" />
        <span asp-validation-for="NgayBatDau" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NgayKetThuc" class="control-label"></label>
        <input asp-for="NgayKetThuc" type="date" class="form-control" />
        <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
