@model Student_management.Models.Namhoc

@{
    ViewData["Title"] = "Xóa Năm học";
}

<h2>@ViewData["Title"]</h2>

<h4>Bạn có chắc chắn muốn xóa?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Tên Năm học</dt>
        <dd class="col-sm-10">@Model.TenNamHoc</dd>

        <dt class="col-sm-2">Ngày bắt đầu</dt>
        <dd class="col-sm-10">@Model.NgayBatDau.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Ngày kết thúc</dt>
        <dd class="col-sm-10">@Model.NgayKetThuc.ToString("dd/MM/yyyy")</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="MaNamHoc" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
