@model Student_management.Models.Namhoc

@{
    ViewData["Title"] = "Chi tiết năm học";
}

<h1>Chi tiết năm học</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">Mã Năm học</dt>
    <dd class="col-sm-10">@Model.MaNamHoc</dd>

    <dt class="col-sm-2">Tên Năm học</dt>
    <dd class="col-sm-10">@Model.TenNamHoc</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.MaNamHoc" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</p>
