@model Student_management.Models.Namhoc

@{
    ViewData["Title"] = "Sửa Năm học";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MaNamHoc" />

    <div class="form-group">
        <label asp-for="TenNamHoc" class="control-label"></label>
        <input asp-for="TenNamHoc" class="form-control" />
        <span asp-validation-for="TenNamHoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NgayBatDau" class="control-label"></label>
        <input asp-for="NgayBatDau" type="date" class="form-control" />
        <span asp-validation-for="NgayBatDau" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NgayKetThuc" class="control-label"></label>
        <input asp-for="NgayKetThuc" type="date" class="form-control" />
        <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
