@model Student_management.Models.PhancongGiangday

@{
    ViewData["Title"] = "Sửa phân công giảng dạy";
}

<h1>Sửa phân công giảng dạy</h1>

<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="MaPc" />
    <div class="mb-3">
        <label class="form-label">Giáo viên</label>
        <select asp-for="MaGv" class="form-control" asp-items="ViewBag.MaGv"></select>
    </div>
    <div class="mb-3">
        <label class="form-label">Môn học</label>
        <select asp-for="MaMonHoc" class="form-control" asp-items="ViewBag.MaMonHoc"></select>
    </div>
    <div class="mb-3">
        <label class="form-label">Lớp</label>
        <select asp-for="MaLop" class="form-control" asp-items="ViewBag.MaLop"></select>
    </div>
    <div class="mb-3">
        <label class="form-label">Học kỳ</label>
        <select asp-for="MaHk" class="form-control" asp-items="ViewBag.MaHk"></select>
    </div>
    <button type="submit" class="btn btn-success">Cập nhật</button> |
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
